*.o
*.elf
*.bin
*.a
*.hex
*.swp
*.out
*.map
*_module_data.h
*.d
*.pyc
temp/*
*.txt
tests/build*/
build*/
CMakeCache.txt
.cache/
CMakeFiles/
cmake_install.cmake
Makefile
tests/xpack-qemu-arm-*
!tests/xpack-qemu-arm-*/README.md
